<?xml version="1.0" encoding="UTF-8"?>
<root>
  <errors>true</errors>
  <loss>1</loss>
  <delay>1</delay>
  <ghost>1</ghost>
  <payload>1</payload>
  <header>1</header>
  <onlydata>false</onlydata>
  <serverAddress>localhost</serverAddress>
  <serverport>5545</serverport>
  <simpleConnection>false</simpleConnection>
</root>

